<div class="random">
{{#each responseFromAPI}}
  {{> beerpartial}}
  <div class="card-body">
    <p>Brewer tips: {{this.brewers_tips}}</p>
    <ol>
    <p>Food pairing: {{#each this.food_pairing}}</p>
    <li>{{this}}</li>
    {{/each}}
    </ol>
  {{/each}}
  </div>
</div>

