
{{#each responseFromAPI}}
  {{> beerpartial}}
    <p>Brewer tips: {{this.brewers_tips}}</p>
    <ol>
    <p>Food pairing: {{#each this.food_pairing}}</p>
    <li>{{this}}</li>
    {{/each}}
    </ol>
  {{/each}}

